footer{
    text-align: center;
}
#imag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 500px;
    overflow: hidden;
    caption-side: bottom;
}
#cap{
    text-align: center;
}
section{
    margin-right: 30%;
}
tfoot{
    text-align: center;
}
nav> ul> li{
    display:inline;
    margin: 30px;
    text-decoration: none;
}
nav li a{
   text-decoration: none;
}
nav li {
   list-style:none;
}
nav li .hide{
    display: none;
    position: absolute;
    background-color: rgb(138, 138, 150);
    padding-left: 10px;
}
nav li:hover .hide{
  display:block;
  padding-left: 5px;
}