footer{
    text-align: center;
}
#imag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 500px;
    overflow: hidden;
    caption-side: bottom;
}
#cap{
    text-align: center;
}
section{
    margin-right: 30%;
}